<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158514931997-kkcpuc7l6g5853h63v16mg819s9gm83s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158514931997-kkcpuc7l6g5853h63v16mg819s9gm83s</string>
	<key>API_KEY</key>
	<string>AIzaSyAxSlkmL8UEUIWRLX7Wuwqlh8vrqYpea4g</string>
	<key>GCM_SENDER_ID</key>
	<string>158514931997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rgeiss.ProjetoCusco</string>
	<key>PROJECT_ID</key>
	<string>petfinder-b1844</string>
	<key>STORAGE_BUCKET</key>
	<string>petfinder-b1844.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158514931997:ios:e00aa7cfb172147f3cd9f4</string>
</dict>
</plist>